#elem {
    width: 150px;
    height: 150px;
    background-color: rebeccapurple;
}

#elem2 {
    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    background-color: rgb(112, 204, 181);
}

#elem3 {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(88, 19, 153);
    width: 200px;
    height: 100px;
}

#elem4 {
    border-width: 5px;
    border-style: dotted;
    border-color: red;
    width: 200px;
    height: 100px;
}

#elem5 {
    border-width: 7px;
    border-style: double;
    border-color: rgb(88, 19, 153);
    width: 200px;
    height: 100px;
}