#elem {
    padding: 50px;
    width: 200px;
    border: 1px solid red;
    text-align: justify;
}

#elem1 {
    padding: 20px;
    width: 500px;
    border: 1px solid green;
    text-align: justify;
}

#elem2 {
    padding: 20px;
    width: 280px;
    border: 1px solid red;
    text-align: justify;
}